<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="SwtorFileName" value="&quot;D:\Program Files (x86)\Star Wars-The Old Republic\launcher.exe&quot;"/>
      <add key="SwtorWorkingDir" value="&quot;D:\Program Files (x86)\Star Wars-The Old Republic&quot;"/>
      <add key="StarParseFileName" value="&quot;C:\Users\kyled\AppData\Local\StarParse\StarParse.exe&quot;"/>
      <add key="StarParseWorkingDir" value="&quot;C:\Users\kyled\AppData\Local\StarParse&quot;"/>
      <add key="MumbleFileName" value="&quot;C:\Program Files (x86)\Mumble\mumble.exe&quot;"/>
      <add key="MumbleWorkingDir" value="&quot;C:\Program Files (x86)\Mumble&quot;"/>
    </appSettings>
</configuration>